<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>交通信息管理系统</display-name>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

<!--    <servlet>-->
<!--        <servlet-name>UserController</servlet-name>-->
<!--        <servlet-class>com.trafficmanagement.controller.UserController</servlet-class>-->
<!--    </servlet>-->

<!--    <servlet-mapping>-->
<!--        <servlet-name>UserController</servlet-name>-->
<!--        <url-pattern>/UserController</url-pattern>-->
<!--    </servlet-mapping>-->

</web-app>